@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo ao sistema geral das Lojas Fema!</h1>
    <h3 class="fst-italic">O que gostaria de fazer hoje?</h3>
    <div class="border">
        <h4 class="fst-italic">Tabela de Opções</h4>
        <ul>
            <li class="fst-italic">
                <a class="text-dark" asp-area="" asp-controller="clientes" asp-action="Index">Clientes</a>
            </li>
            <li class="fst-italic">
                <a class="text-dark" asp-area="" asp-controller="filiais" asp-action="Index">Filiais</a>
            </li>
            <li class="fst-italic">
                <a class="text-dark" asp-area="" asp-controller="produtos" asp-action="Index">Produtos</a>
            </li>
            <li class="fst-italic">
                <a class="text-dark" asp-area="" asp-controller="transacoes" asp-action="Index">Transacoes</a>
            </li>
            <li class="fst-italic">
                <a class="text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Termos de Uso</a>
            </li
        </ul>
    </div>
</div>
