@model criptowebbcc.Models.Filial

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Filial</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="nomeFilial" class="control-label"></label>
                <input asp-for="nomeFilial" class="form-control" />
                <span asp-validation-for="nomeFilial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="clienteId" class="control-label"></label>
                <select asp-for="clienteId" class="form-control" asp-items="ViewBag.clienteId"></select>
                <span asp-validation-for="clienteId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="produtoId" class="control-label"></label>
                <select asp-for="produtoId" class="form-control" asp-items="ViewBag.produtoId"></select>
                <span asp-validation-for="produtoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="transacaoId" class="control-label"></label>
                <select asp-for="transacaoId" class="form-control" asp-items="ViewBag.transacaoId"></select>
                <span asp-validation-for="transacaoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cidadeFilial" class="control-label"></label>
                <input asp-for="cidadeFilial" class="form-control" />
                <span asp-validation-for="cidadeFilial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="estadoFilial" class="control-label"></label>
                <select asp-for="estadoFilial" class="form-control"></select>
                <span asp-validation-for="estadoFilial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-outline-primary">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
